---
layout: default
---
<!-- the post -->
<article class="post">
	<!-- post header -->
	<header clas="post-header">
		<!-- date, author, type -->
		<p class="post-meta">
			&#128197;<b> <time datetime="{{ page.date | date_to_xmlschema }}"> {{ page.date | date: "%d/%m/%Y" }} </time> </b> - <b>{{ page.author }}</b> - <b>{{ page.type }}</b>
		</p>
		<!-- title -->
		<h1 class="post-title">{{ page.title }}</h1>
	</header>
	<!-- content -->
	<div class="post-content">
		{{ content }}
	</div>
</article>
<!--  -->
<hr style="width:66%"/>
<!-- Navigation -->
<div class="post-bottom">
	<table>
		<tr>
			<td>
				{% if page.previous.url %}
					<a class="prev-post" href="{{ site.baseurl }}{{ page.previous.url }}">&#128281; {{ page.previous.title }}</a>
				{% else %}
					&nbsp;
				{% endif %}
			</td>
			<td>
				{% include blog-link.html %}
			</td>
			<td>
				{% if page.next.url %}
					<a class="next-post" href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }} &#128284;</a>
				{% else %}
					&nbsp;
				{% endif %}
			</td>
		</tr>
	</table>
</div>